<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>搜索</title>

    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-list.css"/>
    <link rel="stylesheet" type="text/css" href="css/widget-cartPanelView.css"/>

    <link rel="stylesheet" type="text/css" href="css/search-allGoods.css"/>

    <link rel="stylesheet" type="text/css" href="css/pages-JD-index.css"/>
    <link rel="stylesheet" type="text/css" href="css/widget-jquery.autocomplete.css"/>


    <script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>

    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/service/searchService.js"></script>
    <script type="text/javascript" src="js/controller/searchController.js"></script>

    <script type="text/javascript" src="js/service/userService.js"></script>


    <script type="text/javascript">
        //设置高度
        function SetIFrameHeightFoot() {
            var iframeid = document.getElementById("iframeFoot"); //iframe id
            if (document.getElementById) {
                // iframeid.height = document.documentElement.clientHeight;
                iframeid.height = 370;
            }
        }


    </script>

</head>

<body ng-app="ecommerce" ng-controller="searchController"
      ng-init="getName();findCartList();loadKeywords()" >

<!--页面顶部-->
<div id="nav-bottom">
    <div class="nav-top">

        <!--顶部菜单栏-->
        <div class="top">
            <div class="py-container">
                <div class="shortcut">
                    <ul class="fr">
                        <li class="f-item" ng-if="!loginFlag">
                            <a href="jump.html" >你好，请登录</a>　
                            <span><a href="http://localhost:9106/ecommerce_user_web/admin/register.html" target="_blank">免费注册</a></span>
                        </li>
                        <li class="f-item" ng-if="loginFlag">
                            <span style="color: #000;">你好，{{username}}</span>
                            <span class="space"></span>
                            <span><a href="logout/cas">退出登录 </a></span>
                        </li>
                        <li class="f-item space"></li>

                        <li class="f-item">
                            <a href="http://localhost:9106/ecommerce_user_web/" >我的订单</a>
                        </li>
                        <li class="f-item space"></li>

                        <li class="f-item">我的Y</li>
                        <li class="f-item space"></li>

                        <li class="f-item">Y会员</li>
                        <li class="f-item space"></li>

                        <li class="f-item">企业采购</li>
                        <li class="f-item space"></li>

                        <li class="f-item">客户服务</li>
                        <li class="f-item space"></li>

                        <li class="f-item">网站导航</li>
                        <li class="f-item space"></li>

                        <li class="f-item">手机Y</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--头部-->
        <div class="header">
            <div class="py-container">
                <div class="yui3-g Logo">
                    <!--图标-->
                    <div class="yui3-u Left ">
                        <a class="logo-bd" title="Y" href="http://localhost:9103/ecommerce_enter_web/" ></a>
                    </div>
                    <div class="yui3-u Center searchArea">
                        <!--搜索-->
                        <div class="search">
                            <form action="" class="sui-form form-inline">
                                <!--searchAutoComplete-->
                                <div class="input-append">
                                    <input type="text" id="autocomplete" type="text" class="input-error input-xxlarge" ng-model="searchMap.keywords"/>
                                    <button class="sui-btn btn-xlarge btn-danger" ng-click="searchMap.pageNo=1;search()" type="button">搜索</button>
                                </div>
                            </form>
                        </div>
                        <!--搜索框下的链接:根据搜索关键字联想-->
                        <div class="hotwords">
                            <ul>
                                <li class="f-item">xxx</li><li class="f-item space" style="padding:0"></li>
                                <li class="f-item">xxx</li><li class="f-item space" style="padding:0"></li>
                                <li class="f-item">xxx</li><li class="f-item space" style="padding:0"></li>
                                <li class="f-item">xxx</li><li class="f-item space" style="padding:0"></li>
                                <li class="f-item">xxx</li><li class="f-item space" style="padding:0"></li>
                                <li class="f-item">xxx</li><li class="f-item space" style="padding:0"></li>
                            </ul>
                        </div>
                    </div>
                    <!--购物车-->
                    <div class="yui3-u Right shopArea">
                        <div class="fr shopcar">
                            <div class="show-shopcar" id="shopcar">
                                <span class="car"></span>
                                <a class="sui-btn btn-default btn-xlarge" href="http://localhost:9107/ecommerce_cart_web/" target="_blank">
                                    <span>我的购物车</span>
                                    <i class="shopnum">{{totalValue.totalNum}}</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="yui3-g NavList">
                    <div class="yui3-u Left">
                        <div class="f-item" id="serviceAll" style="width: 100%;height: 100%;text-align:center;line-height:45px;background-color: #c82e29;">
                            <span style="color:#fff;font-size: 16px">全部商品分类</span>

                            <div class="sort serviceAll" style="display: none;">
                                <div class="py-container">
                                    <div class="yui3-g SortList ">

                            <div class="yui3-u Left all-sort-list " style="z-index: 2;box-shadow: darkgrey 10px 10px 30px 5px ;" >
                                <div class="all-sort-list2">

                                    <div class="item bo">
                                        <h3><a href="">家用电器</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <dt><a href="http://localhost:9104/ecommerce_search_web/#?keywords=电视" target="_blank">电视</a></dt>
                                                    <dd>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=超薄电视" target="_blank">超薄电视</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=全面屏电视" target="_blank">全面屏电视</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=智能电视" target="_blank">智能电视</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=OLED电视" target="_blank">OLED电视</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=智慧屏" target="_blank">智慧屏</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=4K超清电视" target="_blank">4K超清电视</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=55英寸" target="_blank">55英寸</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=65英寸" target="_blank">65英寸</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=电视配件" target="_blank">电视配件</a></em>
                                                    </dd>
                                                </dl>
                                                <dl class="fore2">
                                                    <dt><a href="http://localhost:9104/ecommerce_search_web/#?keywords=空调" target="_blank">空调</a></dt>
                                                    <dd>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=空调挂机" target="_blank">空调挂机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=空调柜机" target="_blank">空调柜机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=中央空调" target="_blank">中央空调</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=变频空调" target="_blank">变频空调</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=一级能效" target="_blank">一级能效</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=移动空调" target="_blank">移动空调</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=以旧换新" target="_blank">以旧换新</a></em>
                                                    </dd>
                                                </dl>
                                                <dl class="fore3">
                                                    <dt><a href="http://localhost:9104/ecommerce_search_web/#?keywords=洗衣机" target="_blank">洗衣机</a></dt>
                                                    <dd>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=滚筒洗衣机" target="_blank">滚筒洗衣机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=洗烘一体机" target="_blank">洗烘一体机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=波轮洗衣机" target="_blank">波轮洗衣机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=迷你洗衣机" target="_blank">迷你洗衣机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=烘干机" target="_blank">烘干机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=洗衣机配件" target="_blank">洗衣机配件</a></em>
                                                    </dd>
                                                </dl>
                                                <dl class="fore4">
                                                    <dt><a href="http://localhost:9104/ecommerce_search_web/#?keywords=冰箱" target="_blank">冰箱</a></dt>
                                                    <dd>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=多门" target="_blank">多门</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=对开门" target="_blank">对开门</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=三门" target="_blank">三门</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=双门" target="_blank">双门</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=冷柜/冰吧" target="_blank">冷柜/冰吧</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=酒柜" target="_blank">酒柜</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=冰箱配件" target="_blank">冰箱配件</a></em>
                                                    </dd>
                                                </dl>
                                                <!--<dl class="fore5">
                                                    <dt><a href="">厨卫大电</a></dt>
                                                    <dd><em><a href="">油烟机</a></em><em><a href="">燃气灶</a></em><em><a href="">烟灶套装</a></em><em><a href="">集成灶</a></em><em><a href="">消毒柜</a></em><em><a href="">洗碗机</a></em><em><a href="">电热水器</a></em><em><a href="">燃气热水器</a></em><em><a href="">空气能热水器</a></em><em><a href="">太阳能热水器</a></em><em><a href="">嵌入式厨电</a></em><em><a href="">烟机灶具配件</a></em></dd>
                                                </dl>
                                                <dl class="fore6">
                                                    <dt><a href="">厨房小电</a></dt>
                                                    <dd><em><a href="">破壁机</a></em><em><a href="">电烤箱</a></em><em><a href="">电饭煲</a></em><em><a href="">电压力锅</a></em><em><a href="">电炖锅</a></em><em><a href="">豆浆机</a></em><em><a href="">料理机</a></em><em><a href="">咖啡机</a></em><em><a href="">电饼铛</a></em><em><a href="">榨汁机/原汁机</a></em><em><a href="">电水壶/热水瓶</a></em><em><a href="">微波炉</a></em><em><a href="">电火锅</a></em><em><a href="">养生壶</a></em><em><a href="">电磁炉</a></em><em><a href="">面包机</a></em><em><a href="">空气炸锅</a></em><em><a href="">面条机</a></em><em><a href="">电陶炉</a></em><em><a href="">煮蛋器</a></em><em><a href="">电烧烤炉</a></em></dd>
                                                </dl>
                                                <dl class="fore7">
                                                    <dt><a href="">生活电器</a></dt>
                                                    <dd><em><a href="">取暖电器</a></em><em><a href="">加湿器</a></em><em><a href="">空气净化器</a></em><em><a href="">吸尘器</a></em><em><a href="">除螨仪</a></em><em><a href="">扫地机器人</a></em><em><a href="">除湿机</a></em><em><a href="">干衣机</a></em><em><a href="">蒸汽拖把/拖地机</a></em><em><a href="">挂烫机/熨斗</a></em><em><a href="">电话机</a></em><em><a href="">饮水机</a></em><em><a href="">净水器</a></em><em><a href="">电风扇</a></em><em><a href="">冷风扇</a></em><em><a href="">毛球修剪器</a></em><em><a href="">生活电器配件</a></em></dd>
                                                </dl>
                                                <dl class="fore8">
                                                    <dt><a href="">个护健康</a></dt>
                                                    <dd><em><a href="">剃须刀</a></em><em><a href="">电动牙刷</a></em><em><a href="">电吹风</a></em><em><a href="">美容器</a></em><em><a href="">洁面仪</a></em><em><a href="">按摩器</a></em><em><a href="">健康秤</a></em><em><a href="">卷/直发器</a></em><em><a href="">剃/脱毛器</a></em><em><a href="">理发器</a></em><em><a href="">足浴盆</a></em><em><a href="">足疗机</a></em><em><a href="">按摩椅</a></em></dd>
                                                </dl>
                                                <dl class="fore9">
                                                    <dt><a href="">视听影音</a></dt>
                                                    <dd><em><a href="">家庭影院</a></em><em><a href="">KTV音响</a></em><em><a href="">迷你音响</a></em><em><a href="">DVD</a></em><em><a href="">功放</a></em><em><a href="">回音壁</a></em><em><a href="">麦克风</a></em></dd>
                                                </dl>-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="">手机 / 运营商 / 数码</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <dt><a href="http://localhost:9104/ecommerce_search_web/#?keywords=手机通讯" target="_blank">手机通讯</a></dt>
                                                    <dd>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=手机" target="_blank">手机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=游戏手机" target="_blank">游戏手机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=老人机" target="_blank">老人机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=对讲机" target="_blank">对讲机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=以旧换新" target="_blank">以旧换新</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=手机维修" target="_blank">手机维修</a></em>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="">电脑 / 办公</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <dt><a href="http://localhost:9104/ecommerce_search_web/#?keywords=电脑整机" target="_blank">电脑整机</a></dt>
                                                    <dd>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=笔记本" target="_blank">笔记本</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=游戏本" target="_blank">游戏本</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=平板电脑" target="_blank">平板电脑</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=平板电脑配件" target="_blank">平板电脑配件</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=台式机" target="_blank">台式机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=一体机" target="_blank">一体机</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=服务器/工作站" target="_blank">服务器/工作站</a></em>
                                                        <em><a href="http://localhost:9104/ecommerce_search_web/#?keywords=笔记本配件" target="_blank">笔记本配件</a></em>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="" style="color: #CCCCCC">家居 / 家具 / 家装 / 厨具</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <dt><a href="">厨具</a></dt>
                                                    <dd><em><a href="">水具</a></em><em><a href="">酒具</a></em><em><a href="">烹饪锅具</a></em><em><a href="">炒锅</a></em><em><a href="">碗碟套装</a></em><em><a href="">厨房配件</a></em><em><a href="">刀剪</a></em><em><a href="">菜板</a></em><em><a href="">锅具套装</a></em><em><a href="">茶具</a></em><em><a href="">咖啡具</a></em><em><a href="">保温杯</a></em><em><a href="">厨房置物架</a></em></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="" style="color: #CCCCCC">男装 / 女装 / 童装 / 内衣</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <dt><a href="">女装</a></dt>
                                                    <dd><em><a href="">当季热卖</a></em><em><a href="">新品推荐</a></em><em><a href="">商场同款</a></em><em><a href="">时尚套装</a></em><em><a href="">连衣裙</a></em><em><a href="">羽绒服</a></em><em><a href="">针织衫</a></em><em><a href="">毛呢大衣</a></em><em><a href="">休闲裤</a></em><em><a href="">卫衣</a></em><em><a href="">T恤</a></em><em><a href="">棉服</a></em><em><a href="">大码女装</a></em></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="" style="color: #CCCCCC">美妆 / 个护清洁 / 宠物</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <dt><a href="">面部护肤</a></dt>
                                                    <dd><em><a href="">礼盒</a></em><em><a href="">美白</a></em><em><a href="">防晒</a></em><em><a href="">面膜</a></em><em><a href="">洁面</a></em><em><a href="">爽肤水</a></em><em><a href="">精华</a></em><em><a href="">眼霜</a></em><em><a href="">乳液/面霜</a></em><em><a href="">卸妆</a></em><em><a href="">T区护理</a></em><em><a href="">润唇膏</a></em></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="" style="color: #CCCCCC">女鞋 / 箱包 / 钟表 / 珠宝</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <dt><a href="">时尚女鞋</a></dt>
                                                    <dd><em><a href="">新品推荐</a></em><em><a href="">女靴</a></em><em><a href="">马丁靴</a></em><em><a href="">雪地靴</a></em><em><a href="">踝靴</a></em><em><a href="">休闲鞋</a></em><em><a href="">单鞋</a></em><em><a href="">帆布鞋</a></em><em><a href="">妈妈鞋</a></em><em><a href="">布鞋/绣花鞋</a></em><em><a href="">雨鞋/雨靴</a></em><em><a href="">高跟鞋</a></em><em><a href="">凉鞋</a></em></dd>
                                                </dl>
                                            </div>
                                            <div class="cat-right"></div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="" style="color: #CCCCCC">男鞋 / 运动 / 户外</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <dt><a href="">流行男鞋</a></dt>
                                                    <dd><em><a href="">新品推荐</a></em><em><a href="">休闲鞋</a></em><em><a href="">男靴</a></em><em><a href="">商务</a></em><em><a href="">休闲鞋</a></em><em><a href="">正装鞋</a></em><em><a href="">帆布鞋</a></em><em><a href="">凉鞋</a></em><em><a href="">拖鞋</a></em><em><a href="">功能鞋</a></em><em><a href="">增高鞋</a></em><em><a href="">工装鞋</a></em><em><a href="">雨鞋</a></em><em><a href="">传统布鞋</a></em><em><a href="">鞋配件</a></em></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="" style="color: #CCCCCC">房产 / 汽车 / 汽车用品</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <dt><a href="">房产</a></dt>
                                                    <dd><em><a href="">最新开盘</a></em><em><a href="">普通住宅</a></em><em><a href="">别墅</a></em><em><a href="">商业办公</a></em><em><a href="">海外房产</a></em><em><a href="">文旅地产</a></em><em><a href="">长租公寓</a></em></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="" style="color: #CCCCCC">母婴 / 玩具乐器</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <!--<dt><a href="">电视</a></dt>-->
                                                    <!--<dd><em><a href="">超薄电视</a></em><em><a href="">全面屏电视</a></em><em><a href="">智能电视</a></em><em><a href="">OLED电视</a></em><em><a href="">智慧屏</a></em><em><a href="">4K超清电视</a></em><em><a href="">55英寸</a></em><em><a href="">65英寸</a></em><em><a href="">电视配件</a></em></dd>-->
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="" style="color: #CCCCCC">食品 / 酒类 / 生鲜 / 特产</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <!--<dt><a href="">电视</a></dt>-->
                                                    <!--<dd><em><a href="">超薄电视</a></em><em><a href="">全面屏电视</a></em><em><a href="">智能电视</a></em><em><a href="">OLED电视</a></em><em><a href="">智慧屏</a></em><em><a href="">4K超清电视</a></em><em><a href="">55英寸</a></em><em><a href="">65英寸</a></em><em><a href="">电视配件</a></em></dd>-->
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="item">
                                        <h3><a href="">艺术 / 礼品鲜花 / 农资绿植</a></h3>
                                    </div>-->
                                    <!--<div class="item">
                                        <h3><a href="">医药保健 / 计生情趣</a></h3>
                                    </div>-->
                                    <!--<div class="item">
                                        <h3><a href="">图书 / 文娱 / 教育 / 电子书</a></h3>
                                    </div>-->

                                    <div class="item">
                                        <h3><a href="" style="color: #CCCCCC">机票 / 酒店 / 旅游 / 生活</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <!--<dt><a href="">电视</a></dt>-->
                                                    <!--<dd><em><a href="">超薄电视</a></em><em><a href="">全面屏电视</a></em><em><a href="">智能电视</a></em><em><a href="">OLED电视</a></em><em><a href="">智慧屏</a></em><em><a href="">4K超清电视</a></em><em><a href="">55英寸</a></em><em><a href="">65英寸</a></em><em><a href="">电视配件</a></em></dd>-->
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="" style="color: #CCCCCC">理财 / 众筹 / 白条 / 保险</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <!--<dt><a href="">电视</a></dt>-->
                                                    <!--<dd><em><a href="">超薄电视</a></em><em><a href="">全面屏电视</a></em><em><a href="">智能电视</a></em><em><a href="">OLED电视</a></em><em><a href="">智慧屏</a></em><em><a href="">4K超清电视</a></em><em><a href="">55英寸</a></em><em><a href="">65英寸</a></em><em><a href="">电视配件</a></em></dd>-->
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="" style="color: #CCCCCC">安装 / 维修 / 清洗 / 二手</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <!--<dt><a href="">电视</a></dt>-->
                                                    <!--<dd><em><a href="">超薄电视</a></em><em><a href="">全面屏电视</a></em><em><a href="">智能电视</a></em><em><a href="">OLED电视</a></em><em><a href="">智慧屏</a></em><em><a href="">4K超清电视</a></em><em><a href="">55英寸</a></em><em><a href="">65英寸</a></em><em><a href="">电视配件</a></em></dd>-->
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <h3><a href="" style="color: #CCCCCC">工业品</a></h3>
                                        <div class="item-list clearfix">
                                            <div class="subitem">
                                                <dl class="fore1">
                                                    <!--<dt><a href="">电视</a></dt>-->
                                                    <!--<dd><em><a href="">超薄电视</a></em><em><a href="">全面屏电视</a></em><em><a href="">智能电视</a></em><em><a href="">OLED电视</a></em><em><a href="">智慧屏</a></em><em><a href="">4K超清电视</a></em><em><a href="">55英寸</a></em><em><a href="">65英寸</a></em><em><a href="">电视配件</a></em></dd>-->
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="yui3-u Center navArea">
                        <ul class="nav">
                            <li class="f-item">时尚</li>
                            <li class="f-item">美妆馆</li>
                            <li class="f-item">超市</li>
                            <li class="f-item">生鲜</li>
                            <li class="f-item">国际</li>
                            <li class="f-item">闪购</li>
                            <li class="f-item">拍卖</li>
                            <li class="f-item">金融</li>
                        </ul>
                    </div>
                    <div class="yui3-u Right"></div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--list-content-->
<div class="main">
    <div class="py-container">

        <!--bread-->
        <div class="bread">
            <!--面包屑显示 搜索条件-->
            <ul class="fl sui-breadcrumb">全部结果 > </ul>
            <ul class="tags-choose">
                <li class="tag" ng-if="searchMap.category!=''" ng-click="removeSearchItem('category')">
                    商品分类：{{searchMap.category}}<i class="sui-icon icon-tb-close"></i>
                </li>
                <li class="tag" ng-if="searchMap.brand!=''" ng-click="removeSearchItem('brand')" >
                    品牌：{{searchMap.brand}}<i class="sui-icon icon-tb-close"></i>
                </li>
                <li class="tag" ng-repeat="(key,value) in searchMap.spec" ng-click="removeSearchItem(key)">
                    {{key}}:{{value}}<i class="sui-icon icon-tb-close"></i>
                </li>
                <li class="tag" ng-if="searchMap.price!=''" ng-click="removeSearchItem('price')">
                    价格：{{searchMap.price}}<i class="sui-icon icon-tb-close"></i>
                </li>
                <li ng-if="searchMap.keywords!=null" style="float: left;">
                    "{{searchWord}}"
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!--selector-->
        <div class="clearfix selector">

            <!--品牌 ：并且搜索关键字不是品牌，才展示-->
            <div class="type-wrap logo"
                 ng-if="resultMap.brandList!=null && searchMap.brand=='' && keywordsIsBrand()==false">
                <div class="fl key brand"><span style="float: left;">品牌: </span></div>
                <div class="value logos">
                    <ul class="logo-list">
                        <li ng-repeat="brand in resultMap.brandList" style="width: 12%;height: 30px;text-align:center;line-height: 30px;">
                            <a href="javascript:;" ng-click="addSearchItem('brand',brand.text)">{{brand.text}}</a>
                        </li>
                    </ul>
                </div>
                <div class="ext">
                    <!--<a href="javascript:void(0);" class="sui-btn">多选</a>-->
                    <!--<a href="javascript:void(0);">更多</a>-->
                </div>
            </div>

            <!-- 分类:list不为 并且 分类搜索条件为空(只能选择一个分类) 时显示 ： && searchMap.category=='' -->
            <div class="type-wrap" ng-if="resultMap.categoryList!=null && searchMap.category==''">
                <div class="fl key"><span style="float: left;">商品分类: </span></div>
                <div class="fl value">
                    <!--<span ng-repeat="category in resultMap.categoryList" style="margin: 0 20px 0 0;">
                        <a href="javascript:;" ng-click="addSearchItem('category',category)">{{category}}</a>
                    </span>-->
                    <ul class="type-list">
                        <li ng-repeat="category in resultMap.categoryList">
                            <a href="javascript:;" ng-click="addSearchItem('category',category)">{{category}}</a>
                        </li>
                    </ul>
                </div>
                <div class="fl ext"></div>
            </div>

            <!--规格-->
            <div class="type-wrap" ng-repeat="spec in resultMap.specList" ng-if="searchMap.spec[spec.text]==null">
                <div class="fl key"><span style="float: left;">{{spec.text}}: </span></div>
                <div class="fl value">
                    <ul class="type-list">
                        <li ng-repeat="pojo in spec.options">
                            <a href="javascript:;" ng-click="addSearchItem(spec.text,pojo.optionName)">{{pojo.optionName}}</a>
                        </li>
                    </ul>
                </div>
                <div class="fl ext"></div>
            </div>

            <!--价格-->
            <div class="type-wrap" ng-if="searchMap.price==''">
                <div class="fl key"><span style="float: left;">价格: </span></div>
                <div class="fl value">
                    <ul class="price-list" >
                        <li ng-repeat="price in priceList">
                            <a href="javascript:;" ng-click="addSearchItem('price',price)">{{price}}元</a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="addSearchItem('price','4000-*')">4000元以上</a>
                        </li>
                    </ul>
                </div>
                <div class="fl ext"></div>
            </div>

            <!--其它-->
            <!--<div class="type-wrap" style="color:#ccc">
                <div class="fl key">更多筛选项: </div>
                <div class="fl value">
                    <ul class="type-list">
                        <li><a>特点</a></li>
                        <li><a>系统</a></li>
                        <li><a>手机内存 </a></li>
                        <li><a>单卡双卡</a></li>
                        <li><a>其他</a></li>
                    </ul>
                </div>
                <div class="fl ext">
                </div>
            </div>-->
        </div>

        <!--details-->
        <div class="details">
            <!--排序-->
            <div class="sui-navbar">
                <div class="navbar-inner filter">
                    <!-- class="sui-nav"  -->
                    <ul id="sort-li">
                        <li class="{{filterFlag==1?'active':''}}" >
                            <a href="javascript:;" ng-click="changeFilterFlag(1);sortSearch('','')">综合↓</a>
                        </li>
                        <li class="{{filterFlag==2?'active':''}}">
                            <a href="javascript:;" ng-click="changeFilterFlag(2);sortSearch('saleNum','DESC')">销量↓</a>
                        </li>
                        <li class="{{filterFlag==3?'active':''}}">
                            <a href="javascript:;" ng-click="changeFilterFlag(3);" style="color: #ccc">评论数↓</a>
                        </li>
                        <!--新品：上架时间-->
                        <li class="{{filterFlag==4?'active':''}}">
                            <a href="javascript:;" ng-click="changeFilterFlag(4);sortSearch('updateTime','DESC')">新品↓</a>
                        </li>
                        <li class="{{filterFlag==5?'active':''}}">
                            <a href="javascript:;" ng-click="changeFilterFlag(5);sortSearch('price','DESC')">价格↓</a>
                        </li>
                        <li class="{{filterFlag==6?'active':''}}">
                            <a href="javascript:;" ng-click="changeFilterFlag(6);sortSearch('price','ASC')">价格↑</a>
                        </li>
                        <!--注解：如果目前是升序排序，点击就要进行降序排序-->
                        <!--<li ng-if="priceSort=='DESC'" class="{{filterFlag==5?'active':''}}">
                            <a href="javascript:;" ng-click="changeFilterFlag(5);sortSearch('price','ASC')">价格↓</a>
                        </li>
                        <li ng-if="priceSort=='ASC'" class="{{filterFlag==6?'active':''}}">
                            <a href="javascript:;" ng-click="changeFilterFlag(6);sortSearch('price','DESC')">价格↑</a>
                        </li>-->
                    </ul>
                </div>
            </div>

            <!--循环显示数据-->
            <div class="goods-list">
                <ul class="yui3-g">
                    <li class="yui3-u-1-5" ng-repeat="item in resultMap.rows">
                        <div class="list-wrap">
                            <div class="p-img">
                                <a href="http://localhost:9105/ecommerce_html_web/admin/{{item.goodsId}}.html"
                                   target="_blank"><img src="{{item.image}}"/></a>
                            </div>
                            <div class="price">
                                <strong><em> ¥ </em><i>{{item.price}}</i></strong>
                            </div>
                            <!--
                                ng-bind-html指令用于显示html内容
                                | 用于调用过滤器
                            -->
                            <div class="attr" ng-bind-html="item.title | trustHtml"
                                 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-right: 15px"
                                 title="{{item.title}}"></div>
                            <!--<div class="attr">
                                <em>{{item.title}}</em>
                            </div>-->
                            <div class="cu">
                                <em><span>促</span>满一件可参加超值换购</em>
                            </div>
                            <div class="commit">
                                <i class="command">已有2000人评价</i>
                            </div>
                            <div class="operate">
                                <a href="success-cart.html" target="_blank" class="sui-btn btn-bordered btn-danger">加入购物车</a>
                                <a href="javascript:void(0);" class="sui-btn btn-bordered">对比</a>
                                <a href="javascript:void(0);" class="sui-btn btn-bordered">关注</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--页码-->
            <div class="fr page">
                <div class="sui-pagination pagination-large">
                    <ul style="width: auto">
                        <li class="prev {{isTopPage()?'disabled':''}}">
                            <a href="javascript:;" ng-click="queryByPage(searchMap.pageNo-1)">«上一页</a>
                        </li>

                        <li class="dotted" ng-if="firstDot==true"><span>..</span></li>
                        <li ng-repeat="p in pageLabel">
                            <a href="javascript:;" ng-click="queryByPage(p)">{{p}}</a>
                        </li>
                        <li class="dotted" ng-if="lastDot==true"><span>..</span></li>

                        <li class="next {{isEndPage()?'disabled':''}}">
                            <a href="javascript:;" ng-click="queryByPage(searchMap.pageNo+1)">下一页»</a>
                        </li>
                    </ul>
                    <div style="width: auto">
                        <span>&nbsp;共{{resultMap.totalPages}}页&nbsp;</span>
                        <!--<span>&nbsp;共{{resultMap.total}}条信息&nbsp;</span>-->
                        <span>
                            到第
                            <input type="text" class="page-num" ng-model="searchMap.pageNo">
                            页
                            <button class="page-confirm" ng-click="queryByPage(searchMap.pageNo)">确定</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <!--猜你喜欢-->
        <div class="clearfix hot-sale">
            <h4 class="title">猜你喜欢</h4>
            <div class="hot-list">
                <ul class="yui3-g">
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="img/like_01.png"/>
                            </div>
                            <div class="attr">
                                <em>xxx</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>1111.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">已有700人评价</i>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="img/like_03.png"/>
                            </div>
                            <div class="attr">
                                <em>xxxx</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>1111.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">已有700人评价</i>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="img/like_04.png"/>
                            </div>
                            <div class="attr">
                                <em>xxxx</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>1111.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">已有20人评价</i>
                            </div>
                        </div>
                    </li>
                    <li class="yui3-u-1-4">
                        <div class="list-wrap">
                            <div class="p-img">
                                <img src="img/like_02.png"/>
                            </div>
                            <div class="attr">
                                <em>xxxx</em>
                            </div>
                            <div class="price">
                                <strong>
                                    <em>¥</em>
                                    <i>1111.00</i>
                                </strong>
                            </div>
                            <div class="commit">
                                <i class="command">已有700人评价</i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>


<!--页面底部-->
<div>
    <iframe width="100%" id="iframeFoot" name="iframe" onload="SetIFrameHeightFoot()" frameborder="0" src="admin/foot.html"></iframe>
</div>


<!--侧栏面板开始-->
<div class="J-global-toolbar">
    <div class="toolbar-wrap J-wrap">
        <div class="toolbar">
            <div class="toolbar-panels J-panel">

                <!-- 购物车面板内容 -->
                <div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-cart toolbar-animate-out">
                    <h3 class="tbar-panel-header J-panel-header">
                        <!--标题-->
                        <a href="javascript:;" class="title"><i></i><em class="title">购物车</em></a>
                        <!--关闭按钮-->
                        <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('cart');"></span>
                    </h3>
                    <div class="tbar-panel-main">
                        <div id="J-cart-tips" class="tbar-tipbox" ng-if="!loginFlag">
                            <div class="tip-inner">
                                <span class="tip-text">还没有登录，登录后商品将被保存</span>
                                <a href="#none" class="tip-btn J-login">登录</a>
                            </div>
                        </div>
                        <div class="tbar-panel-content J-panel-content">
                            <div id="J-cart-render">
                                <!-- 购物车商品列表 -->
                                <div id="cart-list" class="tbar-cart-list">
                                    <div class="tbar-cart-item">
                                        <!--满减提示-->
                                        <!--<div class="jtc-item-promo">
                                            <em class="promo-tag promo-mz"> <i class="arrow"></i> </em>
                                            <div class="promo-text"> </div>
                                        </div>-->
                                        <!--列表-->
                                        <div class="jtc-item-goods" ng-repeat="cart in cartList">
                                            <div ng-repeat="item in cart.orderItemList">
                                                <span class="p-img">
                                                    <!--<a href="javascript:;" target="_blank">aaa<img src="{2}" alt="{1}" height="50" width="50"/></a>-->
                                                    <a href="{{getUrl(item.goodsId)}}" target="_blank">
                                                        <img src="{{item.picPath}}" height="50" width="50"/>
                                                    </a>
                                                </span>
                                                <div class="p-name">
                                                    <a href="{{getUrl(item.goodsId)}}" target="_blank">{{item.title}}</a>
                                                </div>
                                                <div class="p-price">
                                                    <strong>¥{{item.price.toFixed(2)}}</strong>×{{item.num}}
                                                </div>
                                                <a href="javascript:;" ng-click="addGoodsToCartList(item.itemId,-item.num)" class="p-del J-del">删除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="cart-footer" class="tbar-panel-footer J-panel-footer">
                        <div class="tbar-checkout">
                            <div class="jtc-number"><strong class="J-count" id="cart-number">{{totalValue.totalNum}}</strong>件商品</div>
                            <div class="jtc-sum"> 共计：<strong class="J-total" id="cart-sum">¥{{totalValue.totalMoney}}</strong></div>
                            <a class="jtc-btn J-btn" href="http://localhost:9107/ecommerce_cart_web/" target="_blank">去购物车结算</a>
                        </div>
                    </div>
                </div>

                <!-- 我的关注面板内容 -->
                <div style="visibility: hidden;" data-name="follow" class="J-content toolbar-panel tbar-panel-follow">
                    <h3 class="tbar-panel-header J-panel-header">
                        <a href="javascript:;" target="_blank" class="title"> <i></i> <em class="title">我的关注</em> </a>
                        <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('follow');"></span>
                    </h3>
                    <div class="tbar-panel-main">
                        <div class="tbar-panel-content J-panel-content">
                            <div id="J-follow-render">
                                <!-- 我的关注商品列表 -->
                                <div id="follow-list" class="tbar-follow-list"></div>
                            </div>
                        </div>
                    </div>
                    <div id="follow-footer" class="tbar-panel-footer J-panel-footer">

                    </div>
                </div>

                <!-- 我的足迹面板内容 -->
                <div style="visibility: hidden;" class="J-content toolbar-panel tbar-panel-history toolbar-animate-in">
                    <h3 class="tbar-panel-header J-panel-header">
                        <a href="javascript:;" target="_blank" class="title"> <i></i> <em class="title">我的足迹</em> </a>
                        <span class="close-panel J-close" onclick="cartPanelView.tbar_panel_close('history');"></span>
                    </h3>
                    <div class="tbar-panel-main">
                        <div class="tbar-panel-content J-panel-content">
                            <div id="J-history-render">
                                <!-- 我的关注商品列表 -->
                                <div id="history-list" class="tbar-history-list"></div>
                            </div>

                            <div class="jt-history-wrap">
                                <ul>
                                    <!--<li class="jth-item">
                                    <a href="javascript:;" class="img-wrap"> <img src=".portal/img/like_03.png" height="100" width="100" /> </a>
                                    <a class="add-cart-button" href="javascript:;" target="_blank">加入购物车</a>
                                    <a href="javascript:;" target="_blank" class="price">￥498.00</a>
                                </li>
                                <li class="jth-item">
                                    <a href="javascript:;" class="img-wrap"> <img src="portal/img/like_02.png" height="100" width="100" /></a>
                                    <a class="add-cart-button" href="javascript:;" target="_blank">加入购物车</a>
                                    <a href="javascript:;" target="_blank" class="price">￥498.00</a>
                                </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tbar-panel-footer J-panel-footer">
                        <a href="javascript:;" class="history-bottom-more" target="_blank">查看更多足迹商品 &gt;&gt;</a>
                    </div>
                </div>

            </div>

            <div class="toolbar-header"></div>

            <!-- 侧栏按钮 -->
            <div class="toolbar-tabs J-tab">
                <div onclick="cartPanelView.tabItemClick('cart')" class="toolbar-tab tbar-tab-cart" data="购物车" tag="cart">
                    <i class="tab-ico"></i>
                    <em class="tab-text"></em>
                    <span class="tab-sub J-count " id="tab-sub-cart-count">{{totalValue.totalNum}}</span>
                </div>
                <div onclick="cartPanelView.tabItemClick('follow')" class="toolbar-tab tbar-tab-follow" data="我的关注" tag="follow">
                    <i class="tab-ico"></i>
                    <em class="tab-text"></em>
                    <span class="tab-sub J-count hide">0</span>
                </div>
                <div onclick="cartPanelView.tabItemClick('history')" class="toolbar-tab tbar-tab-history" data="我的足迹" tag="history">
                    <i class="tab-ico"></i>
                    <em class="tab-text"></em>
                    <span class="tab-sub J-count hide">0</span>
                </div>
            </div>

            <div class="toolbar-mini"></div>

        </div>

        <div id="J-toolbar-load-hook"></div>

    </div>
</div>
<!--侧栏面板结束-->




<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#service").hover(function () {
            $(".service").show();
        }, function () {
            $(".service").hide();
        });

        $("#serviceAll").hover(function () {
            $(".serviceAll").show();
        }, function () {
            $(".serviceAll").hide();
        });

        $("#shopcar").hover(function () {
            $("#shopcarlist").show();
        }, function () {
            $("#shopcarlist").hide();
        });

    })


    <!--搜索按钮响应回车-->
    function onkeydown() {
        if (event.keyCode == 13) {
            document.getElementById("searchButton").click();
            return false;
        }
    }
    // document.getElementById('enter');
    // onkeydown();

</script>
<script type="text/javascript" src="js/model/cartModel.js"></script>
<script type="text/javascript" src="js/czFunction.js"></script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/widget/cartPanelView.js"></script>
<!--分类、楼层样式-->
<script type="text/javascript" src="js/pages/index.js"></script>

<script type="text/javascript" src="js/widget/jquery.autocomplete.js"></script>
<script type="text/javascript" src="js/widget/nav.js"></script>
</body>

</html>